body {
  background-color: #f0f0f0;
  color: #333;
}

.container {
  width: 95mm;
  position: relative;
  border: 2px solid rgb(154, 153, 153);
  padding: 5px 10px 70px;
}
header,
.var-1,
.var-2,
.var-3 {
  background-color: #fff;
  margin-bottom: 4px;
  padding: 8px 12px;
}

header {
  text-align: center;
  padding: 16px 12px;
  position: relative;
  margin-bottom: 9px;
}

.variants {
  margin-bottom: -35px;
}

.logo {
  height: 28px;
  position: absolute;
  top: 50%;
  left: -34px;
  transform: translateY(-50%) rotate(270deg);
}

.snowflake {
  position: absolute;
  top: 40px;
  right: 16px;
  height: 3rem;
}

h1 {
  font-size: 3em;
  margin: 0;
  color: #0a7a0f;
  font-weight: bold;
}

.sub-heading {
  color: #77552b;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 1.2em;
  color: #77552b;
  margin: 8px 0;
}

.price {
  color: #c42b2b;
  font-size: 1.3em;
  font-weight: bold;
}

.branch,
.diameter {
  font-size: 0.9em;
  color: #666;
}

.branch {
  margin-bottom: -10px;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #9d9d9d;
  padding-top: 8px;
  position: absolute;
  bottom: -5px;
  right: 10px;
}
